h1{
color: brown;
text-transform: capitalize;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}


p{
    color: bisque;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;


}
